<h1> Needs And Leads </h1>

<button><a href="need/new">Add Need</a></button>

<div class="posted-needs">
	<% @needs.each do |need| %>
		<span id="title"><%= need.title %></span>
		</br>
		<span id="description"><%= need.description %></span>
	<% end %>
</div>